---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

export const getStaticPaths = (async () => {
  const ratgeberCollection = await getCollection("ratgeber");

  return [
    ...ratgeberCollection.map((page) => ({
      params: { path: page.slug },
      props: { page },
    })),
  ];
}) satisfies GetStaticPaths;

export interface Props {
  page: CollectionEntry<"ratgeber">;
}

const { page } = Astro.props;

const { Content } = await page.render();
---

<BaseLayout title={page.data.title}>
  <h1>{page.data.title}</h1>

  <Content />
</BaseLayout>
