---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const ratgeberCollection = await getCollection("ratgeber");
---

<BaseLayout title="SC SystemCare">
  <h1>SC SystemCare</h1>
  <ul>
    {
      ratgeberCollection
        .filter((item) => item.data.published)
        .map((item) => (
          <li>
            <a href={item.slug}>{item.data.title}</a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
