---
import { getCollection } from "astro:content";

const ratgeberCollection = await getCollection("ratgeber");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>SC SystemCare</h1>
    <ul>
      {
        ratgeberCollection.map((item) => (
          <li>
            <a href={item.slug}>{item.data.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
